<center>
    <h1 id='content-based-filtering' style='color:#7159c1; font-size:350%'>Collaborative Filtering</h1>
    <i style='font-size:125%'>Recommendations of Items from Similar Users</i>
</center>

> **Topics**

```
- üßë‚Äçü§ù‚Äçüßë Content-Based Filtering Problems
- üßë‚Äçü§ù‚Äçüßë Collaborative Filtering
- üßë‚Äçü§ù‚Äçüßë User-Based Approach
- üßë‚Äçü§ù‚Äçüßë Hands-on
```

<h1 id='0-content-based-filtering-problems' style='color:#7159c1; border-bottom:3px solid #7159c1; letter-spacing:2px; font-family:JetBrains Mono; font-weight: bold; text-align:left; font-size:240%;padding:0'>üßë‚Äçü§ù‚Äçüßë | Content-Based Filtering Problems</h1>

In the previous two notebooks, we dived into Content-Based Filtering with Plot Description and Metadatas approach and got better recommendations results!!

Nonetheless, you may be wondering: *"Okay, where is the catch? Is this method really perfect? Are there any problems with it?"*. And yes, even though giving better results, there are some cons on Content-Based Filtering.

The first problem is that the recommendations are based on similiar items regardless the user tastes. Picture this, if user A and user B are into Mob Psycho 100, they both will receive the same similar animes recommendations, regardless their animes tastes and, consequently, a Recommendation Bubble is created.

Besides, people tastes change over the time, so, even though user A is into shounen animes like Mob Psycho 100 today, in a few weeks this very user can be into slice-of-life animes and, since the given recommendations will be using Mob Psycho 100 as a parameter, the user will not receive any slice-of-life animes recommendations, leading to the user search for another platform to watch what he is looking for.

Thus, in order to minimize these problems, a new recommendation method has been made up: `Collaborative Filtering`!! Let's find out what it is and how it works.

<h1 id='1-collaborative-filtering' style='color:#7159c1; border-bottom:3px solid #7159c1; letter-spacing:2px; font-family:JetBrains Mono; font-weight: bold; text-align:left; font-size:240%;padding:0'>üßë‚Äçü§ù‚Äçüßë | Collaborative Filtering</h1>

`Collaborative Filtering` reccomends animes that similar users liked, being able to get closer to the real users tastes. If you use Netflix, you probably already stumbled upon to some series marked as `For you`. If that's so, congrats, that is a real-world Collaborative Filtering Recommendation!! To make things even clearer, assume that two similar users, user A and user B, like Demon Slayer, and user B is also into Grand Blue, so the platform will recommend Grand Blue to user A.

Besides, this Filtering has two modes: 1) `User-Based`, where the user receives recommendations from items that similar users liked; and 2) `Item-Based`, where the user receives recommendations from items that similar users liked and the current user may well rate the recommended item. Both of them follow the `Memory/Neighborhood Logic`.


About the advantages:

> **Better Recommendations** - `since it recommends animes that similar users liked, this system method tends to get closer to the user tastes when compared to Content-Based and Demographic Filtering`;

> **Community Tastes** - `it recommends similar items that similar users liked`;

> **Personalized Recommendations** - `even though two users are searching for recommendations using the same anime, such as Mob Psycho 100, both of them will receive different recommendations due to their tastes`;

> **Low Bubble of Recommendations** - `consequently, the probability of a Bubble of Recommendations be created is low and, even if one is created, it will be small`.

<br />

Disadvantages-wise:

> **More Data Required** - `ir order to get closer to users tastes, in addition to having animes data, it is needed to have users data, such as their ratings on previously watched animes`;

> **Few Data Available for Items** - `new animes will have few ratings from users, leading to outliers`;

> **Bubble of Recommendations** - `even though the probability of a small Bubble of Recommendations be created is low, there is yet the risk of it be happening`;

> **Outliers** - `it is needed to add a cut-off of users ratings and mean rating score by user in order to avoid outliers in the recommendations. For instance, consider that user A rated 100 animes with 1 score and the very user mean score of all rated animes is 1.5, it means that the user bad rated all animes he watched and, consequently, may be up no good in the platform giving outliers to the ratings`;

> **More Computational Cost and Power** - `Collaborative-Filtering Algorithms are more complex and sofisticated to the previously ones, then, more computational cost and power is needed to run them`.

<br />

The image below ilustrates how this technique works:

<br />

<figure style='text-align:center'>
    <img style='border-radius:20px' src='./assets/2-collaborative-filtering.png' alt='Collaborative Filtering Diagram' />
    <figcaption>Figure 1 - Collaborative Filtering Diagram. By <a href='https://www.analyticsvidhya.com/blog/2022/02/introduction-to-collaborative-filtering/'>Shivam Baldha - Introduction to Collaborative Filtering¬©</a>.</figcaption>
</figure>

<br /><br />

In this notebook, we are going further to User-Based technique and use K-Nearest Neighbors to find similar users.

<h1 id='2-user-based-approach' style='color:#7159c1; border-bottom:3px solid #7159c1; letter-spacing:2px; font-family:JetBrains Mono; font-weight: bold; text-align:left; font-size:240%;padding:0'>üßë‚Äçü§ù‚Äçüßë | User-Based Approach</h1>

In a few words, consider a person called user E, the `Collaborative Filtering User-Based Approach` works on finding similar users to user E and then recommendating to him similar items that the similar users liked.

To do it, the Algorithm first calculates the similarity between the users using `Pearson Correlation, Cosine Similarity or other metric`, then predicts the rate user E would give to the animes that the most similar users have watched and recommends the most predicted, rated ones.

For example, consider the following situation where we want to recommend movies to user E. The first step is to calculate the similarity of the others users to this one. The image below ilustrates the situation:

<br />

<figure style='text-align:center'>
    <img style='border-radius:20px' src='./assets/6-collaborative-filtering-user-based.png' alt='Collaborative Filtering example using User-Based approach' />
    <figcaption>Figure 2 - Board ilustrating the similarity of the users to user E. The indexes are the users, the columns are the movies and the users ratings to the movies and the last column is the similarity of the users to user E. The similarity has been calculated using Pearson Correlation. Besides, since user A and F have not rated movies that user E has been, their similarity is 0 (NaN). Since the similarity is being calculated to user E, user E has full similarity to itself; also, user D is totally different to user E due to the similarity be -1. By <a href='https://www.kaggle.com/code/ibtesama/getting-started-with-a-movie-recommendation-system'>Sibtesam Ahmed - Getting Started with a Movie Recommendation System¬©</a>.</figcaption>
</figure>

<br /><br />

After calculating the similarities, we have to predict the ratings that user E would give to the movies he hasn't rated and then, recommends to him the movies liked by the most similar users and that got the higher predicted ratings from user E. The following image pictures the results:

<br />

<figure style='text-align:center'>
    <img style='border-radius:20px' src='./assets/7-collaborative-filtering-user-based.png' alt='Collaborative Filtering example results using User-Based approach' />
    <figcaption>Figure 3 -Board ilustrating the results of the Collaborative Filtering. The predicted ratings of user E are marked with asterisks (*). The most similar users to user E are C and B. Probably, Avengers would be the recommended movie since its the movie that a similar user (B) has liked and got a high predicted rating to user E. By <a href='https://www.kaggle.com/code/ibtesama/getting-started-with-a-movie-recommendation-system'>Sibtesam Ahmed - Getting Started with a Movie Recommendation System¬©</a>.</figcaption>
</figure>

<br /><br />

<h1 id='3-hands-on' style='color:#7159c1; border-bottom:3px solid #7159c1; letter-spacing:2px; font-family:JetBrains Mono; font-weight: bold; text-align:left; font-size:240%;padding:0'>üßë‚Äçü§ù‚Äçüßë | Hands-on</h1>

```
- Settings
- Reading Datasets
- Calculating Ratings Matrix and Similarity Matrix
- Calculating Predictions
- Recommendations
```

---

**- Settings**

In [1]:
# ---- Importings ----
import numpy as np                               # pip instal numpy
import pandas as pd                              # pip install pandas
from sklearn.metrics import mean_squared_error   # pip install sklearn
from sklearn.model_selection import train_test_split

# ---- Constants ----
ANIMES_SCORED_BY_CUTOFF = (0.75)
USERS_NUMBER_RATINGS_CUTOFF = (2_000)

BASELINE_PREDICTION = (2.5)
DATASETS_PATH = ('./datasets')
SEED = (20240420) # April 20, 2024 (fourth Bitcoin Halving)

# ---- Settings ----
np.random.seed(SEED)

# ---- Functions ----
def calculate_score(user_id, anime_id):
    """
    \ Description:
        - drops the selected user from 'user_id' parameter on similarities and ratings matrices;
        - calculates the total score and weight between the users;
        - calculates the average user rating for the item from 'anime_id';
        - returns the predicted rating balanced by the weight.
    
    \ Parameters:
        - user_id: integer;
        - anime_id: integer.
        
    \ Return:
        - Baseline Prediction: float (when item is not into training dataset OR
    none of the similar users have rated items in common with the 'user_id' parameter);
        - Predicted Rating: float.
    """
    # If the item is not into the training dataset, the baseline value is returned
    if anime_id not in ratings_matrix.columns: return BASELINE_PREDICTION

    # Dropping the selected user from 'user_id' parameter
    similarity_scores = similarity_matrix[user_id].drop(labels=user_id)
    normalized_ratings = normalized_ratings_matrix[anime_id].drop(index=user_id)
    
    # Dropping users that haven't rated the item
    similarity_scores.drop(index=normalized_ratings[normalized_ratings.isnull()].index, inplace=True)
    normalized_ratings.dropna(inplace=True)
    
    # If none of the other users have rated items in common with the user in question, the baseline value is returned
    if similarity_scores.isna().all(): return BASELINE_PREDICTION
    
    # Calculating Predicted Rating
    total_score = 0
    total_weight = 0
    
    for user_id_rating in normalized_ratings.index:
        # It is possible that another user rated the item but that
        # they have not rated any items in common with the user in question
        if not pd.isna(similarity_scores[user_id_rating]):
            total_score += normalized_ratings[user_id_rating] * similarity_scores[user_id_rating]
            total_weight += abs(similarity_scores[user_id_rating])
            
    avg_user_rating = ratings_matrix.T.mean()[user_id]
    return avg_user_rating + total_score / total_weight

def get_recommendations(df, animes_df, user_id, number_recommendations=10):
    """
    \ Description:
        - filters the top 10 recommendations by 'predicted_rating';
        - creates a dataframe containing info about the filtered animes;
        - merges 'predicted_rating' to the dataset;
        - drops unuseful columns;
        - returns the recommendations descended sorted by 'predicted_rating'.
    
    \ Parameters:
        - df: Pandas DataFrame;
        - animes_df: Pandas DataFrame;
        - user_id: integer;
        - number_recommendations: integer.
        
    \ Return:
        - recommendations_df: Pandas DataFrame.
    """
    filtered_animes = df.loc[df.user_id == user_id]            \
      .sort_values(by='predicted_rating', ascending=False)    \
      .head(number_recommendations)
    
    recommended_animes_ids = filtered_animes.anime_id.unique().tolist()
    
    recommendations_df = animes_df.loc[animes_df.id.isin(recommended_animes_ids)][
        ['id', 'title', 'synopsis', 'score', 'genres', 'image_url']
    ]
    
    recommendations_df = recommendations_df.merge(
        filtered_animes
        , left_on='id'
        , right_on='anime_id'
        , how='left'
    )
    
    recommendations_df.drop(columns=['anime_id', 'user_id'], inplace=True)
    
    return recommendations_df.sort_values(by='predicted_rating', ascending=False)

---

**- Reading Datasets**

In [2]:
# ---- Reading Animes Dataset ----
animes_df = pd.read_csv(f'{DATASETS_PATH}/anime-transformed-dataset-2023.csv')[
    ['id', 'title', 'synopsis', 'score', 'genres', 'image_url', 'scored_by']
]

# ---- Filterig Animes with more than or equal to a cutoff of number of Users Ratings ----
minimum_number_of_ratings = animes_df.scored_by.quantile(q=ANIMES_SCORED_BY_CUTOFF, interpolation='linear')
animes_df = animes_df.loc[animes_df.scored_by >= minimum_number_of_ratings].copy()

print(f'- Number of Observations: {animes_df.shape[0]:,}')
print(f'- Number of Variables: {animes_df.shape[1]:,}')
print('---')

animes_df.head()

- Number of Observations: 5,938
- Number of Variables: 7
---

,id,title,synopsis,score,genres,image_url,scored_by
0,1,cowboy bebop,"crime is timeless. by the year 2071, humanity ...",8.75,"action, sci-fi, award winning",https://cdn.myanimelist.net/images/anime/4/196...,914193
1,5,cowboy bebop tengoku no tobira,"another day, another bounty‚Äîsuch is the life o...",8.38,"action, sci-fi",https://cdn.myanimelist.net/images/anime/1439/...,206248
2,6,trigun,"vash the stampede is the man with a $$60,000,0...",8.22,"adventure, action, sci-fi",https://cdn.myanimelist.net/images/anime/7/203...,356739
3,7,witch hunter robin,robin sena is a powerful craft user drafted in...,7.25,"mystery, action, supernatural, drama",https://cdn.myanimelist.net/images/anime/10/19...,42829
4,8,bouken ou beet,it is the dark century and the people are suff...,6.94,"adventure, fantasy, supernatural",https://cdn.myanimelist.net/images/anime/7/215...,6413

In [3]:
# ---- Reading Ratings Dataset ----
ratings_df = pd.read_csv(f'{DATASETS_PATH}/users-scores-transformed-2023.csv')[
    ['user_id', 'anime_id', 'rating']
]

# ---- Filterig Ratings by Filtered Animes ----
filtered_animes_ids = animes_df.id.to_list()
ratings_df = ratings_df.loc[ratings_df.anime_id.isin(filtered_animes_ids)].copy()

# ---- Filtering Ratings with users with more than or equal to 2000 Ratings ----
users_ratings_count = ratings_df.user_id.value_counts()
ratings_df = ratings_df.loc[
    ratings_df.user_id.isin(users_ratings_count[users_ratings_count >= USERS_NUMBER_RATINGS_CUTOFF].index)
].copy()


print(f'- Number of Observations: {ratings_df.shape[0]:,}')
print(f'- Number of Variables: {ratings_df.shape[1]:,}')
print('---')

ratings_df.head()

- Number of Observations: 82,653
- Number of Variables: 3
---

        user_id  anime_id  rating
165496     2276       299       5
165497     2276       873       5
165498     2276        48       7
165499     2276       298       6
165500     2276     41380       7

---

**- Calculating Ratings Matrix and Similarity Matrix**

In [4]:
# ---- Splitting Dataset into Train and Validation ----
train_ratings_df, valid_ratings_df = train_test_split(
    ratings_df
    , train_size=0.80
    , test_size=0.20
    , random_state=SEED
)

print(f'- Train Ratings Observations: {train_ratings_df.shape[0]:,}')
print(f'- Validation Ratings Observations: {valid_ratings_df.shape[0]:,}')

- Train Ratings Observations: 66,122
- Validation Ratings Observations: 16,531

In [5]:
# ---- Calculating Ratings Matrix ----
#
# - values: users ratings to animes;
# - indexes: users ids;
# - columns: animes ids;
#
ratings_matrix = pd.pivot_table(train_ratings_df, values='rating', index='user_id', columns='anime_id')
normalized_ratings_matrix = ratings_matrix.subtract(ratings_matrix.mean(axis=1), axis=0)
normalized_ratings_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,53411,53446,53613,53621,53874,54225,54259,54463,54591,55016
user_id,,,,,,,,,,,,,,,,,,,,,
2276,1.286603,0.286603,1.286603,NaN,1.286603,NaN,0.286603,NaN,0.286603,0.286603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6140,1.783693,NaN,0.783693,0.783693,NaN,NaN,0.783693,NaN,NaN,0.783693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6264,0.529567,NaN,NaN,NaN,-2.470433,1.529567,0.529567,NaN,2.529567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17481,1.879593,NaN,0.879593,-0.120407,NaN,0.879593,NaN,NaN,-0.120407,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50470,-0.332964,NaN,0.667036,NaN,NaN,NaN,0.667036,NaN,NaN,0.667036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# ---- Calculating Users Similarity Matrix ----
similarity_matrix = ratings_matrix.T.corr(method='pearson')
similarity_matrix.head()

user_id,2276,6140,6264,17481,50470,65697,67573,81011,97561,106788,...,578453,602821,609917,870611,972109,1065713,1099439,1130069,1189897,1252629
user_id,,,,,,,,,,,,,,,,,,,,,
2276,1.000000,0.195103,0.280804,0.249597,0.116693,0.158929,0.242764,0.433105,0.245516,0.091994,...,0.209679,0.326355,0.203058,0.190909,0.337902,0.285805,0.269079,0.060630,0.398342,0.248600
6140,0.195103,1.000000,0.280033,0.340694,0.381870,0.418123,0.336823,0.419994,0.363635,0.089581,...,0.223739,0.265551,0.384016,0.304882,0.364177,0.271642,0.390569,0.097689,0.444160,0.240680
6264,0.280804,0.280033,1.000000,0.305712,0.141091,0.295304,0.281649,0.383801,0.304130,0.054485,...,0.224282,0.279926,0.123796,0.332243,0.295207,0.242796,0.405614,0.179398,0.452067,0.169307
17481,0.249597,0.340694,0.305712,1.000000,0.206569,0.378123,0.336881,0.493484,0.359666,0.178254,...,0.218199,0.349135,0.267833,0.366434,0.334440,0.290755,0.455181,0.171325,0.546639,0.254189
50470,0.116693,0.381870,0.141091,0.206569,1.000000,0.357171,0.265975,0.316998,0.237537,0.150889,...,0.087455,0.146457,0.225283,0.322479,0.119539,0.205109,0.229392,0.120880,0.285404,0.133018

---
**- Calculating Predictions**

In [7]:
# ---- Predictions Calculation ----
valid_ratings = np.array(valid_ratings_df['rating'])
users_ids_list = valid_ratings_df['user_id']
animes_ids_list = valid_ratings_df['anime_id']
predicted_ratings = np.array([calculate_score(user_id, anime_id) for (user_id, anime_id) in zip(users_ids_list, animes_ids_list)])

# ---- Validation ----
rmse = np.sqrt(mean_squared_error(valid_ratings, predicted_ratings))
print(f'- RMSE: {rmse}')

- RMSE: 1.270455700027571

---

**- Recommendations**

In [8]:
# --- Predicted Ratings DF ----
predicted_ratings_df = pd.DataFrame(columns=['user_id', 'anime_id', 'predicted_rating'])

predicted_ratings_df['user_id'] = users_ids_list
predicted_ratings_df['anime_id'] = animes_ids_list
predicted_ratings_df['predicted_rating'] = predicted_ratings
predicted_ratings_df.reset_index(drop=True, inplace=True)

predicted_ratings_df.head()

   user_id  anime_id  predicted_rating
0   609917     22673          6.828383
1  1189897     13599          6.830519
2   520489     36198          5.338764
3   292624     28927          5.135284
4    17481     39586          7.273290

In [9]:
# ---- Recommendations ----
get_recommendations(
    df=predicted_ratings_df
    , animes_df=animes_df
    , user_id=609_917
    , number_recommendations=10
)

,id,title,synopsis,score,genres,image_url,predicted_rating
4,4181,clannad after story,"clannad: after story, the sequel to the critic...",8.93,"supernatural, romance, drama",https://cdn.myanimelist.net/images/anime/1299/...,9.768797
2,1575,code geass hangyaku no lelouch,"in the year 2010, the holy empire of britannia...",8.70,"action, sci-fi, award winning, drama",https://cdn.myanimelist.net/images/anime/1032/...,9.749660
3,2001,tengen toppa gurren lagann,simon and kamina were born and raised in a dee...,8.63,"adventure, action, sci-fi, award winning",https://cdn.myanimelist.net/images/anime/4/512...,9.661821
5,9989,ano hi mita hana no namae wo bokutachi wa mada...,jinta yadomi is peacefully living as a recluse...,8.31,"supernatural, drama",https://cdn.myanimelist.net/images/anime/5/796...,9.632413
6,11741,fate zero 2nd season,as the fourth holy grail war rages on with no ...,8.55,"action, fantasy, supernatural",https://cdn.myanimelist.net/images/anime/1522/...,9.623956
8,36862,made in abyss movie 3 fukaki tamashii no reimei,"after bonding over a tragic loss, the long-suf...",8.63,"fantasy, drama, adventure, sci-fi, mystery",https://cdn.myanimelist.net/images/anime/1502/...,9.594341
7,12355,ookami kodomo no ame to yuki,"hana, a hard-working college student, falls in...",8.58,"slice of life, fantasy, award winning",https://cdn.myanimelist.net/images/anime/9/357...,9.556795
1,1535,death note,"brutal murders, petty thefts, and senseless vi...",8.62,"suspense, supernatural",https://cdn.myanimelist.net/images/anime/9/945...,9.526311
9,36990,non non biyori movie vacation,"with summer vacation coming to an end, the gir...",8.25,slice of life,https://cdn.myanimelist.net/images/anime/1044/...,9.460765
0,572,kaze no tani no nausica,a millennium has passed since the catastrophic...,8.36,"adventure, fantasy, award winning",https://cdn.myanimelist.net/images/anime/10/75...,9.422699

---

<h1 id='reach-me' style='color:#7159c1; border-bottom:3px solid #7159c1; letter-spacing:2px; font-family:JetBrains Mono; font-weight: bold; text-align:left; font-size:240%;padding:0'>üì´ | Reach Me</h1>

> **Email** - [csfelix08@gmail.com](mailto:csfelix08@gmail.com?)

> **Linkedin** - [linkedin.com/in/csfelix/](https://www.linkedin.com/in/csfelix/)

> **GitHub:** - [CSFelix](https://github.com/CSFelix)

> **Kaggle** - [DSFelix](https://www.kaggle.com/dsfelix)

> **Portfolio** - [CSFelix.io](https://csfelix.github.io/).